<!-- Header -->
{% embed 'region--header.html.twig' %}
  {% block content %}{% endblock %}
{% endembed %}
<!--End Header -->
    
{%
set sliders = query.entries
.type('homepage_slider')
.orderBy('created ASC')
.limit(1)
.all()
%}
{% for slider in sliders %}
      <section class="hero-wrap" style="background-image: url({ slider.field_slider_image|file_url }});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 ftco-animate text-center">
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Model</span></p>
	            <h1 class="mb-5 bread">Model</hs1>
	          </div>
	        </div>
	      </div>
      </section>
{% endfor %}