<div class="tq-test">

  {% include '@twig_query_test/partials/node/_fetch_all.html.twig' with {} only %}
  {% include '@twig_query_test/partials/node/_fetch_by_title.html.twig' with {} only %}
  {% include '@twig_query_test/partials/node/_fetch_by_title_string_notation.html.twig' with {} only %}
  {% include '@twig_query_test/partials/node/_order_by.html.twig' with {} only %}
  {% include '@twig_query_test/partials/node/_limit.html.twig' with {} only %}
  {% include '@twig_query_test/partials/node/_group.html.twig' with {} only %}

  {% include '@twig_query_test/partials/taxonomy/_fetch_all.html.twig' with {} only %}
  {% include '@twig_query_test/partials/taxonomy/_fetch_by_title.html.twig' with {} only %}
  {% include '@twig_query_test/partials/taxonomy/_fetch_by_title_string_notation.html.twig' with {} only %}
  {% include '@twig_query_test/partials/taxonomy/_order_by.html.twig' with {} only %}
  {% include '@twig_query_test/partials/taxonomy/_limit.html.twig' with {} only %}
  {% include '@twig_query_test/partials/taxonomy/_group.html.twig' with {} only %}

</div>
