<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/bft/bootstrap-footer-09/css/style.css">
<footer class="footer-16371">
<!-- <div class="container"> -->
<!-- <div class="row justify-content-center"> -->
<div class="text-center">
<div class="footer-site-logo mb-4">
<a href="#">Rwanda Fashion Models Union</a>
</div>
<ul class="list-unstyled nav-links mb-5">
<li><a href="{{base_path}}">Home</a></li>
<li><a href="{{base_path}}/blog-landing-page">News</a></li>
<li><a href="{{base_path}}/our-agencies">Agencies</a></li>
<li><a href="#">Partners</a></li>
<li><a href="#">Our Team</a></li>
<li><a href="{{base_path}}/about-us">About Us</a></li>
<!-- <li><a href="#">Contact Us</a></li> -->
</ul>
<div class="social mb-4">
<h3>Stay in touch</h3>
<ul class="list-unstyled">
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
</ul>
</div>
<div class="copyright">
<p class="mb-0"><small>© 2023 All Rights Reserved.</small></p>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
</footer>